System:
- Java JRE or JDK, preferably v7
- pypy
- uwsgi

Python modules:
- GitPython (0.3.2 or later; you need to force the version)
- django
- fabric
- jinja2
- lz4
- nginx
- pexpect
- regex
- sexpdata
- simplejson
