this is a list of python packages needed
lz4 (python module; use easy_install)
uwsgi
jinja2
fabric
django
gitpython
pypy
java jdk (jre is no compiling needed, probable v7)
nginx (python mod)
simplejson (python mod)
regex (python mod)
sexpdata
pexpect
GitPython (0.3.2 or later you need to force the version)
