<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Status</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/css/app.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and
         media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarNav" aria-controls="navbarNav"
            aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <a class="navbar-brand" href="#">Metaphor</a>
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item active">
            <a class="nav-link" href="/app/status">Status
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/app/logs">Show Logs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/app/request">Make Request</a>
          </li>
        </ul>
        <ul class="navbar-nav my-2 my-lg-0v">
          <li class="nav-item">
            <a class="nav-link" href="/logout">Logout</a>
          </li>
        </ul>
      </div>
    </nav>

    <!-- Begin page content -->
    <div class="container">
      <div class="page-header">
        <h1>Status</h1>
      </div>

      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">

          <h4>LCC Service</h4>
          <table class="table table-bordered">
            <tbody>
              <tr>
                <td>Path</td><td>{{settings.PATH}}</td>
              </tr>
              <tr>
                <td>Branch</td><td>{{branch}}</td>
              </tr>
              <tr>
                <td>Commit</td><td>{{commit}}</td>
              </tr>
              <tr>
                <td>Database</td><td>{{settings.DATABASES.default.NAME}}</td>
              </tr>
            </tbody>
          </table>

          <h4>ADP Pipeline</h4>
          <table class="table table-bordered">
            <tbody>
              <tr>
                <td>METAPHOR_DIR</td><td>{{paths.METAPHOR_DIR}}</td>
              </tr>
              <tr>
                <td>UPLOADS_DIR</td><td>{{paths.UPLOADS_DIR}}</td>
              </tr>
              <tr>
                <td>HENRY_DIR</td><td>{{paths.HENRY_DIR}}</td>
              </tr>
              <tr>
                <td>TMP_DIR</td><td>{{paths.TMP_DIR}}</td>
              </tr>
              <tr>
                <td>GRB_LICENSE_FILE</td><td>{{paths.GRB_LICENSE_FILE}}</td>
              </tr>
              <tr>
                <td>CPLUS_INCLUDE_PATH</td><td>{{paths.CPLUS_INCLUDE_PATH}}</td>
              </tr>
              <tr>
                <td>LD_LIBRARY_PATH</td><td>{{paths.LD_LIBRARY_PATH}}</td>
              </tr>
              <tr>
                <td>LIBRARY_PATH</td><td>{{paths.LIBRARY_PATH}}</td>
              </tr>
            </tbody>
          </table>

        </div>
        <div class="col-md-2"></div>
      </div>

    </div>

    <div id="footer">
      <div class="container">
        <p class="text-muted">&copy; 2014&ndash;2018 University of Southern
California Information Sciences Institute.</p>
      </div>
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/js/jquery-3.3.1.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>
