<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Item #{{item.id}}</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/css/app.css" rel="stylesheet">

    <script src="/static/js/jquery-3.3.1.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and
         media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <button class="navbar-toggler" type="button" data-toggle="collapse"
              data-target="#navbarNav" aria-controls="navbarNav"
              aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <a class="navbar-brand" href="#">Metaphor</a>
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="/app/status">Status</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/app/logs">Show Logs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/app/request">Make Request</a>
          </li>
        </ul>
        <ul class="navbar-nav my-2 my-lg-0v">
          <li class="nav-item">
            <a class="nav-link" href="/logout">Logout</a>
          </li>
        </ul>
      </div>
    </nav>

    <!-- Begin page content -->
    <div class="container">
      <div class="page-header">
        <h1>Log Item {{item.id}}</h1>
      </div>

      <div class="col-md-12">

        <div id="accordion">

          <div class="card">
            <div class="card-header" id="requestJSONHead">
              <h4 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse"
                        data-target="#requestJSON"
                        aria-expanded="true" aria-controls="requestJSON">
                  Request JSON
                </button>
              </h4>
            </div>

            <div id="requestJSON" class="collapse show"
                 aria-labelledby="requestJSONHead"
                 data-parent="#accordion">
              <div class="card-body">
                <pre>{{item.request_body}}</pre>
              </div>
            </div>
          </div>

          <div class="card">
            <div class="card-header" id="responseJSONHead">
              <h4 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse"
                        data-target="#responseJSON"
                        aria-expanded="false" aria-controls="responseJSON">
                  Response JSON
                </button>
              </h4>
            </div>

            <div id="responseJSON" class="collapse"
                 aria-labelledby="responseJSONHead"
                 data-parent="#accordion">
              <div class="card-body">
                <pre>{{item.response_body}}</pre>
              </div>
            </div>
          </div>

          <div class="card">
            <div class="card-header" id="parseOutputHead">
              <h4 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse"
                        data-target="#parseOutput"
                        aria-expanded="false" aria-controls="parseOutput">
                  Parser Output
                </button>
              </h4>
            </div>

            <div id="parseOutput" class="collapse"
                 aria-labelledby="parseOutputHead"
                 data-parent="#accordion">
              <div class="card-body">
                <pre>{{item.parse_out}}</pre>
              </div>
            </div>
          </div>

          <div class="card">
            <div class="card-header" id="graphOutputHead">
              <h4 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse"
                        data-target="#graphOutput"
                        aria-expanded="false" aria-controls="graphOutput">
                  Proof Graphs
                </button>
              </h4>
            </div>
            <div id="graphOutput" class="collapse"
                 aria-labelledby="graphOutputHead"
                 data-parent="#accordion">
              <div class="card-body">
                <dl>
                  {% for key,value in item.dot_out.items %}

                  <dt>Graph {{key}}</dt>
                  <dd>
                    <img src="data:image/png;base64,{{value}}" style="width:1024px;" />
                  </dd>
                  {% endfor %}
                </dl>
              </div>
            </div>
          </div>

          <div class="card">
            <div class="card-header" id="henryOutputHead">
              <h4 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse"
                        data-target="#henryOutput"
                        aria-expanded="false" aria-controls="henryOutput">
                  Henry Output
                </button>
              </h4>
            </div>
            <div id="henryOutput" class="collapse"
                 aria-labelledby="henryOutputHead"
                 data-parent="#accordion">
              <div class="card-body">
                <pre>{{item.henry_out}}</pre>
              </div>
            </div>
          </div>

          <div class="card">
            <div class="card-header" id="responseErrorHead">
              <h4 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse"
                        data-target="#responseError"
                        aria-expanded="false" aria-controls="responseError">
                  Error Message
                </button>
              </h4>
            </div>
            <div id="responseError" class="collapse"
                 aria-labelledby="responseErrorHead"
                 data-parent="#accordion">
              <div class="card-body">
                <pre>{{item.task_error_message}}</pre>
              </div>
            </div>
          </div>

          <div class="card">
            <div class="card-header" id="itemLogHead">
              <h4 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse"
                        data-target="#itemLog"
                        aria-expanded="false" aria-controls="itemLog">
                  Log
                </button>
              </h4>
            </div>
            <div id="itemLog" class="collapse"
                 aria-labelled-by="itemLogHead"
                 data-parent="#accordion">
              <div class="card-body">
                <pre>{{item.log_body}}</pre>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div id="footer">
      <div class="container">
        <p class="text-muted">&copy; 2014&ndash;2018 University of Southern
          California Information Sciences Institute.</p>
      </div>
    </div>

  </body>
</html>
