<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Request</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/css/app.css" rel="stylesheet">
    <link href="/static/css/jquery.fileupload.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script src="/static/js/jquery-2.1.0.min.js"></script>
    <script src="/static/js/jquery.ui.widget.js"></script>
    <script src="/static/js/jquery.iframe-transport.js"></script>
    <script src="/static/js/jquery.fileupload.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>

    <script type="text/javascript">
        'use strict';
        $(document).ready(function(){
            var text = "";
            var step = 3;
            var lang = "EN";
            var upload_url = "/app/upload/"

            $(".dropdown-toggle").dropdown();
            $(".btn").button();

            $("#selectRus").click(function(){
                lang = "RU";
                $("#langLabel").html("Russian");
                $("#imgTick").fadeIn(100).fadeOut(400);
                $("#selectedKB").val("KBs/Russian/Russian_compiled_KB.da");
            });
            $("#selectEng").click(function(){
                lang = "EN";
                $("#langLabel").html("English");
                $("#imgTick").fadeIn(100).fadeOut(400);
                $("#selectedKB").val("KBs/English/English_compiled_KB.da");
            });
            $("#selectSpa").click(function(){
                lang = "ES";
                $("#langLabel").html("Spanish");
                $("#imgTick").fadeIn(100).fadeOut(400);
                $("#selectedKB").val("KBs/Spanish/Spanish_compiled_KB.da");
            });
            $("#selectFar").click(function(){
                lang = "FA";
                $("#langLabel").html("Farsi");
                $("#imgTick").fadeIn(100).fadeOut(400);
                $("#selectedKB").val("KBs/Farsi/Farsi_compiled_KB.da");
            });
            $("#selectEng").click();


            // console.log($(".fileinput").fileinput);

            $("#fileupload").fileupload({
              url: upload_url,
              dataType: "json",
              done: function (e, data) {
                  if (data.result && data.result.error_code == 0) {
                      $("#selectedKB").val(data.result.kb_name);
                      $("#responseCode_3").html(data.result.file_name);
                      $("#response_3").fadeIn(100).delay(4000).fadeOut(400);
                  } else {
                    alert(JSON.stringify(data.result));
                  }

              },
              progressall: function (e, data) {
                  var progress = parseInt(data.loaded / data.total * 100, 10);
                  $('#progress .progress-bar').css(
                      'width',
                      progress + '%'
                  );
              }
          }).prop('disabled', !$.support.fileInput)
              .parent().addClass($.support.fileInput ? undefined : 'disabled');


            $("#selectKbButton").on("show.bs.dropdown", function() {
              var selectKbList = $("#selectKbList");
              var loadingHtml = '\
                <img id="imgLoading"                                   \
                     src="/static/img/loading.gif"                     \
                     style="margin:32px 32px 32px 74px;opacity:0.7;"/>';
              selectKbList.html(loadingHtml);
              $.ajax({
                    url: "/app/list_kbs",
                    type: "GET",
                    dataType: "json",
                    success: function(response){
                      selectKbList.html("");
                      selectKbList.append('<li role="presentation" class="dropdown-header">Default KBs</li>');
                      for (var i=0; i<response.default_kbs.length; ++i) {
                          selectKbList.append(
                            '<li role="presentation"><a class="select_KB" style="cursor:pointer;">'
                            + response.default_kbs[i]
                            + '</a></li>');
                      }
                      selectKbList.append('<li role="presentation" class="divider"></li>');
                      selectKbList.append('<li role="presentation" class="dropdown-header">Uploaded KBs</li>');
                      for (var i=0; i<response.uploaded_kbs.length; ++i) {
                          selectKbList.append(
                            '<li role="presentation"><a class="select_KB" style="cursor:pointer;">'
                            + response.uploaded_kbs[i]
                            + '</a></li>');
                      }

                    },
                    error: function(xhr, textStatus){

                    }
                })
            });

            $("#selectKbList").on("click", ".select_KB", function(){
              $("#selectedKB").val($(this).text());
            })


            $("#runButton").click(function(){

                text = $("#requestText").val();

                if ($("#requestStep_1").prop("checked"))
                    step = 1;
                if ($("#requestStep_2").prop("checked"))
                    step = 2;
                if ($("#requestStep_3").prop("checked"))
                    step = 3;


                var request = {
                    "step": step,
                    "kb": $("#selectedKB").val(),
                    "language": lang,
                    "metaphorAnnotationRecords":[
                        {
                            "sentenceId": 1,
                            "linguisticMetaphor": text
                        }
                    ]
                };

                $("#imgLoading").fadeIn(100);
                $("#runButton").addClass("disabled");

                $("#requestBody").html(JSON.stringify(request, null, 2));
                $("#responseBody").html("");

                $.ajax({
                    url: "/",
                    type: "POST",
                    dataType: "text",
                    data: JSON.stringify(request),
                    success: function(response, textStatus, xhr){

                        if (step == 3) {
                          $("#responseBody").html(JSON.stringify(JSON.parse(response), null, 2));
                        } else {
                          $("#responseBody").html(response);
                        }

                        $("#imgLoading").fadeOut(200);
                        $("#runButton").removeClass("disabled");

                        $("#responseCode_1").html(xhr.status);
                        $("#response_1").fadeIn(100).fadeOut(1000);
                    },
                    error: function(xhr, textStatus){

                        $("#responseBody").html(JSON.stringify(textStatus, null, 2));
                        $("#imgLoading").fadeOut(200);
                        $("#runButton").removeClass("disabled");

                        $("#responseCode_2").html(xhr.status);
                        $("#response_2").fadeIn(100).fadeOut(1000);
                    }
                })



                console.log(request);

            });
        });

    </script>


  </head>

  <body>

    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Pipeline</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li>
              <a href="/app/status/">Status</a>
            </li>
            <li>
              <a href="/app/logs/">Show Logs</a>
            </li>
            <li class="active">
              <a href="/app/request/">Make Request</a>
            </li>
            <li>
              <a href="/app/kbs/">Manage KBs</a>
            </li>
          </ul>
          <ul class="nav navbar-nav pull-right">
            <li>
              <a href="/logout/">Logout</a>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>


    <!-- Begin page content -->
    <div class="container">
      <div class="page-header">
        <h1>Query Pipeline</h1>
      </div>
      <br/>

      <div class="row" role="form">
        <div class="col-md-6">

          <textarea id="requestText" class="form-control" rows="6">we should cure poverty</textarea>
          <br/>

          <div class="btn-group btn-group-justified" data-toggle="buttons">
            <label class="btn btn-default" id="selectEng">
              <input type="radio"> English
            </label>
            <label class="btn btn-default" id="selectRus">
              <input type="radio"> Russian
            </label>
            <label class="btn btn-default" id="selectSpa">
              <input type="radio"> Spanish
            </label>
            <label class="btn btn-default" id="selectFar">
              <input type="radio"> Farsi
            </label>
          </div>

          <br/>

          <div id="progress" class="progress">
            <div class="progress-bar progress-bar-success"></div>
          </div>

          <div id="files" class="files"></div>

          <div class="input-group dropup">
            <span class="input-group-btn">
              <button type="button" class="btn btn-default fileinput-button" id="uploadButton">
                  <span class="glyphicon glyphicon-cloud-upload"></span>
                  Upload
                  <input id="fileupload" type="file" name="files[]" multiple>
              </button>
            </span>
            <input id="selectedKB" type="text" value="KBs/English/English_compiled_KB.da" class="form-control">
            <span class="input-group-btn" id="selectKbButton">
              <button type="button" class="btn btn-default dropdown-toggle"  data-toggle="dropdown">
                Change KB <span class="caret"></span>
              </button>
              <ul class="dropdown-menu pull-right" role="menu" id="selectKbList">

              </ul>
            </span>
          </div>

          <br/>

          <div class="radio">
            <label>
              <input id="requestStep_1" type="radio" name="optionsRadios" id="optionsRadios1" value="option1">
              Parse
            </label>
          </div>
          <div class="radio">
            <label>
              <input id="requestStep_2" type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
              Abduct <small class="text-muted">(not supported)</small>
            </label>
          </div>
          <div class="radio">
            <label>
              <input id="requestStep_3" type="radio" name="optionsRadios" id="optionsRadios2" value="option2" checked>
              Perform all steps
            </label>
          </div>
          <br/>

          <button type="button" class="btn btn-success" id="runButton">
            Run
            <span class="glyphicon glyphicon-tree-conifer"></span>
          </button>
          <img id="imgLoading" src="/static/img/loading.gif" style="display:none;margin-left:8px;"/>

          <br/>



<!--             <div class="col-xs-7 pull-right">
            <input id="selectedKB" type="text" class="form-control" value="KBs/English/English_compiled_KB.da">
          </div>
-->


        <!--<div class="btn-group">
            <button type="button" style="width:96px;" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
              <span id="langLabel">English</span>
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li><a id="selectEng">English</a></li>
              <li><a id="selectRus">Russian</a></li>
              <li><a id="selectSpa">Spanish</a></li>
              <li><a id="selectFar">Farsi</a></li>
            </ul>
          </div>
          <img id="imgTick" src="/static/img/tick.png" style="display:none;margin-left:8px;"/>
          <br/>
          <br/>
          -->


        <br/>

        <div style="display:none;" id="response_1" class="alert alert-success">Response code: <span id="responseCode_1"></span></div>
        <div style="display:none;" id="response_2" class="alert alert-danger">Response code: <span id="responseCode_2"></span></div>

        <div style="display:none;" id="response_3" class="alert alert-success">File uploaded: <span id="responseCode_3"></span></div>


        </div>
        <div class="col-md-6">

            <pre style="height:216px;" id="requestBody">
            </pre>

            <pre style="height:280px;" id="responseBody">
            </pre>

        </div>
      </div>

    </div>

    <div id="footer">
      <div class="container">
        <p class="text-muted">2014 © University of Southern California. Information Sciences Institute</p>
      </div>
    </div>

  </body>
</html>
