<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Logs</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/css/app.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Pipeline</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li>
              <a href="/app/status/">Status</a>
            </li>
            <li class="active">
              <a href="/app/logs/">Show Logs</a>
            </li>
            <li>
              <a href="/app/request/">Make Request</a>
            </li>
          </ul>
          <ul class="nav navbar-nav pull-right">
            <li>
              <a href="/logout/">Logout</a>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <!-- Begin page content -->
    <div class="container">
      <div class="page-header">
        <h1>Logs</h1>
      </div>

      <div class="row">
        <div class="col-md-12">
        <ul class="pagination">


          {% if page.has_previous %}
            <li><a href="/app/logs/?page=1">&laquo;&laquo;</a></li>
          {% else %}
            <li class="disabled"><a>&laquo;&laquo;</a></li>
          {% endif %}

          {% if page.has_previous %}
            <li><a href="/app/logs/?page={{page.previous_page_number}}">&laquo;</a></li>
          {% else %}
            <li class="disabled"><a>&laquo;</a></li>
          {% endif %}

          {% for new_page in page_range %}
            {% if new_page == page.number %}
              <li class="active">
                <a href="/app/logs/?page={{new_page}}">{{new_page}}</a>
              </li>
            {% else %}
              <li>
                <a href="/app/logs/?page={{new_page}}">{{new_page}}</a>
              </li>
            {% endif %}
          {% endfor %}

          {% if page.has_next %}
            <li><a href="/app/logs/?page={{page.next_page_number}}">&raquo;</a></li>
          {% else %}
            <li class="disabled"><a>&raquo;</a></li>
          {% endif %}

          {% if page.has_next %}
            <li><a href="/app/logs/?page={{page.paginator.num_pages}}">&raquo;&raquo;</a></li>
          {% else %}
            <li class="disabled"><a>&raquo;&raquo;</a></li>
          {% endif %}

        </ul>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">

          <table class="table table-bordered table-condensed">
            <thead>
              <tr>
                <th>ID</th>
                <th>IP</th>
                <th>Req.Time</th>
                <th>Req. Lang</th>
                <th>Err.Code</th>
                <th>Err.Cnt</th>
                <th>Status</th>
                <th>Resp.Code</th>
                <th>Resp.Time</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              {% for item in page %}
              <tr>
                <td>{{item.id}}</td>
                <td>{{item.request_addr}}</td>
                <td>{{item.request_time|date:"Y.m.d H:i:s"}}</td>
                <td>{{item.request_lang}}</td>
                <td>{{item.error_code_str}}</td>
                <td>{{item.task_error_count}}</td>
                <td>{{item.status_str}}</td>
                <td>{{item.response_status}}</td>
                {% if item.response_time %}
                    <td>{{item.response_time|date:"Y.m.d H:i:s"}}</td>
                {% else %}
                    <td>NULL</td>
                {% endif %}
                <td>
                  <a href="/app/item/?id={{item.id}}" type="button" class="btn btn-default btn-sm">
                    Details
                  </a>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>

<div class="row">
        <div class="col-md-12">
        <ul class="pagination">


          {% if page.has_previous %}
            <li><a href="/app/logs/?page=1">&laquo;&laquo;</a></li>
          {% else %}
            <li class="disabled"><a>&laquo;&laquo;</a></li>
          {% endif %}

          {% if page.has_previous %}
            <li><a href="/app/logs/?page={{page.previous_page_number}}">&laquo;</a></li>
          {% else %}
            <li class="disabled"><a>&laquo;</a></li>
          {% endif %}

          {% for new_page in page_range %}
            {% if new_page == page.number %}
              <li class="active">
                <a href="/app/logs/?page={{new_page}}">{{new_page}}</a>
              </li>
            {% else %}
              <li>
                <a href="/app/logs/?page={{new_page}}">{{new_page}}</a>
              </li>
            {% endif %}
          {% endfor %}

          {% if page.has_next %}
            <li><a href="/app/logs/?page={{page.next_page_number}}">&raquo;</a></li>
          {% else %}
            <li class="disabled"><a>&raquo;</a></li>
          {% endif %}

          {% if page.has_next %}
            <li><a href="/app/logs/?page={{page.paginator.num_pages}}">&raquo;&raquo;</a></li>
          {% else %}
            <li class="disabled"><a>&raquo;&raquo;</a></li>
          {% endif %}

        </ul>
        </div>
      </div>
    </div>

    <div id="footer">
      <div class="container">
        <p class="text-muted">&copy; 2014&ndash;2018 University of Southern
California Information Sciences Institute.</p>
      </div>
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/js/jquery-3.3.1.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>
